<html>
    <head>
        <title>ТЕСТ TEST</title>
    </head>
    <body>
        <div>
            <h1><a href="/">TEST1</a></h1>
        </div>

        <div>
            <p>published: 18.12.2018, 08:37</p>
            <h2><a href="">First test</a></h2>
            <p>Длинное предложение Длинное предложение Длинное предложение Длинное предложение Длинное предложение Длинное предложение Длинное предложение Длинное предложение Длинное предложение Длинное предложение Длинное предложение</p>
        </div>

        <div>
            <p>published: 18.12.2018, 08:38</p>
            <h2><a href="">Второй тест</a></h2>
            <p>Короткое предложение.</p>
        </div>
    </body>
</html>
